main {
    background: gray;
    margin: 0 auto;
    border: 2px black solid;
    font-family: 'Libre Caslon Display', serif;
    text-align: center;
}
header {
    background: lightblue;
    margin: 0 auto;
    font-family: 'Libre Caslon Display', serif;
    text-align: center;
}
hr {
    margin: 0;
}
nav {
    margin: 0 auto;
    padding: 10px;
    display: inline-flex;
    border: 5px black solid;
    text-align: center;
}
nav, a {
    text-decoration: none;
    color: salmon;
}
nav, a:hover {
    color: goldenrod;
}
ul {
    width: 100px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;

}